### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
player_count = data["SN"].nunique()
print(player_count)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item = data["Item Name"].nunique()
p_avg_price = data["Price"].mean()
purchases = len(data["Purchase ID"])
rev = data["Price"].sum()

In [4]:
purchase_analysis = pd.DataFrame({"Unique Items": item,
                                  "Number of Purchases": purchases,
                                 "Average Price": [p_avg_price], 
                                 "Total Revenue": rev})
purchase_analysis.head()

   Unique Items  Number of Purchases  Average Price  Total Revenue
0           179                  780       3.050987        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
g_count = data.groupby("Gender")["SN"].nunique() 
pcts = data["Gender"].value_counts(normalize=True) * 100
g_demo = pd.DataFrame({"Gender": g_count,
                              "Percentag of Players": pcts})
g_demo

                       Gender  Percentag of Players
Female                     81             14.487179
Male                      484             83.589744
Other / Non-Disclosed      11              1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_purchase = data.groupby("Gender")["SN"].nunique() 
gender_avg_price = data.groupby("Gender")["Price"].mean()
gender_total = data.groupby("Gender")["Price"].sum()
gender_purchase_price = data.groupby("Gender")["Price"].nunique()
gender_analysis = pd.DataFrame({"Purchase Count": gender_purchase, 
                         "Average Purchase Price": gender_avg_price,
                           "Total Purchase Value": gender_total,
                         "Average Purchase Per Preson": gender_purchase_price})
gender_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per Preson
Gender,,,,
Female,81,3.203009,361.94,79
Male,484,3.017853,1967.64,144
Other / Non-Disclosed,11,3.346000,50.19,12

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [110]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

data["Age Groups"] = pd.cut(data["Age"], bins, labels=group_names)


bined = data["Age Groups"].value_counts()
bined_pcts = data["Age Groups"].value_counts(normalize=True) * 100
bined_demo = pd.DataFrame({"Age": bined,
                              "Percentag of Players": bined_pcts})
bined_demo

       Age  Percentag of Players
20-24  365             46.794872
15-19  136             17.435897
25-29  101             12.948718
30-34   73              9.358974
35-39   41              5.256410
10-14   28              3.589744
>10     23              2.948718
40+     13              1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
binned_purchase = data.groupby("Age Groups")["Purchase ID"].nunique() 
binned_avg_price = data.groupby("Age Groups")["Price"].mean()
binned_total = data.groupby("Age Groups")["Price"].sum()
binned_purchase_price = data.groupby("Age Groups")["Price"].sum()
binned_analysis = pd.DataFrame({"Purchase Count": binned_purchase, 
                         "Average Purchase Price": binned_avg_price,
                           "Total Purchase Value": binned_total,
                         "Average Purchase Per Preson": bined_pcts})
binned_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per Preson
10-14,28,2.956429,82.78,3.589744
15-19,136,3.035956,412.89,17.435897
20-24,365,3.052219,1114.06,46.794872
25-29,101,2.900990,293.00,12.948718
30-34,73,2.931507,214.00,9.358974
35-39,41,3.601707,147.67,5.256410
40+,13,2.941538,38.24,1.666667
>10,23,3.353478,77.13,2.948718

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [93]:
top_analysis_df = data.groupby("SN")["Purchase ID"].nunique() 
top_avg_price = data.groupby("SN")["Price"].mean()
top_total = data.groupby("SN")["Price"].sum()
top_analysis = pd.DataFrame({"Purchase Count": top_analysis_df, 
                         "Total Purchase Value": top_total,
                         "Average Purchase price": top_avg_price})
top_sorted = top_analysis.sort_values("Total Purchase Value", ascending=False)
top_sorted.head()

             Purchase Count  Total Purchase Value  Average Purchase price
SN
Lisosia93                 5                 18.96                3.792000
Idastidru52               4                 15.45                3.862500
Chamjask73                3                 13.83                4.610000
Iral74                    4                 13.62                3.405000
Iskadarya95               3                 13.10                4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [94]:
popular_analysis_df = data.groupby("Item Name")["Purchase ID"].nunique()
popular_avg_price = data.groupby("Item Name")["Price"].mean()
popular_total = data.groupby("Item Name")["Price"].sum()
popular_analysis = pd.DataFrame({"Purchase Count": popular_analysis_df, 
                         "Average Purchase price": popular_avg_price,
                          "Total Purchase Value": popular_total})
popular_sorted = popular_analysis.sort_values("Purchase Count", ascending=False)
popular_sorted.head()

,Purchase Count,Average Purchase price,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Persuasion,9,3.221111,28.99
Nirvana,9,4.900000,44.10
"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [95]:
most_profitable = popular_analysis.sort_values("Total Purchase Value", ascending=False)
most_profitable.head()

,Purchase Count,Average Purchase price,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Nirvana,9,4.900000,44.10
Fiery Glass Crusader,9,4.580000,41.22
Singed Scalpel,8,4.350000,34.80