### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [100]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file)

In [101]:
data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [102]:
data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [103]:
data["SN"].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
item = data["Item Name"].nunique()
p_avg_price = data["Price"].mean()
purchases = len(data["Purchase ID"])
rev = data["Price"].sum()

In [105]:
purchase_analysis = pd.DataFrame({"Unique Items": item,
                                 "Average Price": [p_avg_price], 
                                  "Number of Purchases": purchases,
                                 "Total Revenue": rev})
purchase_analysis.head()

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [118]:
g_count = data["Gender"].value_counts()
pcts = data["Gender"].value_counts(normalize=True) * 100
g_demo = pd.DataFrame({"Gender": g_count,
                              "Percentag of Players": pcts})
g_demo

                       Gender  Percentag of Players
Male                      652             83.589744
Female                    113             14.487179
Other / Non-Disclosed      15              1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [146]:
g_purchase = data.groupby("Gender")["Purchase ID"].nunique() 
g_avg_price = data.groupby("Gender")["Price"].mean()
g_total = data.groupby("Gender")["Price"].sum()
g_purchase_price = data.groupby("Gender")["Price"].sum()
g_analysis = pd.DataFrame({"Purchase Count": g_purchase, 
                         "Average Purchase Price": g_avg_price,
                           "Total Purchase Value": g_total,
                         "Average Purchase Per Preson": g_purchase_price})
g_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per Preson
Gender,,,,
Female,113,3.203009,361.94,361.94
Male,652,3.017853,1967.64,1967.64
Other / Non-Disclosed,15,3.346000,50.19,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [149]:


bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

data_bin = pd.cut(data["Age"], bins, labels=group_names,right=True)

bin_analysis = pd.DataFrame({"bin": data_bin})
bin_analysis

       bin
0    20-24
1      40+
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
7    20-24
8    20-24
9    35-39
10   20-24
11   20-24
12   20-24
13   20-24
14   35-39
15   20-24
16   20-24
17   20-24
18   20-24
19   30-34
20   20-24
21   20-24
22   35-39
23     40+
24   30-34
25   25-29
26   10-14
27     >10
28   20-24
29   20-24
..     ...
750  20-24
751  10-14
752  15-19
753  35-39
754  20-24
755  10-14
756  20-24
757  15-19
758  20-24
759  25-29
760  20-24
761    40+
762  25-29
763  20-24
764  15-19
765  15-19
766  20-24
767    >10
768  35-39
769  15-19
770  30-34
771  15-19
772  25-29
773  20-24
774  10-14
775  20-24
776  20-24
777  20-24
778    >10
779  20-24

[780 rows x 1 columns]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
t_analysis_df = data.groupby("SN")["Purchase ID"].nunique() 
t_avg_price = data.groupby("SN")["Price"].mean()
t_total = data.groupby("SN")["Price"].sum()
t_analysis = pd.DataFrame({"Purchase Count": t_analysis_df, 
                         "Total Purchase Value": t_total,
                         "Average Purchase price": t_avg_price})
t_analysis.head()

              Purchase Count  Total Purchase Value  Average Purchase price
SN
Adairialis76               1                  2.28                    2.28
Adastirin33                1                  4.48                    4.48
Aeda94                     1                  4.91                    4.91
Aela59                     1                  4.32                    4.32
Aelaria33                  1                  1.79                    1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [157]:
p_analysis_df = data.groupby("Item Name")["Purchase ID"].nunique()
p_avg_price = data.groupby("Item Name")["Price"].mean()
p_total = data.groupby("Item Name")["Price"].sum()
p_analysis = pd.DataFrame({"Purchase Count": p_analysis_df, 
                         "Average Purchase price": p_avg_price,
                          "Total Purchase Value": p_total})
p_analysis.head()

,Purchase Count,Average Purchase price,Total Purchase Value
Item Name,,,
Abyssal Shard,5,2.67,13.35
"Aetherius, Boon of the Blessed",5,3.39,16.95
Agatha,6,3.08,18.48
Alpha,3,2.07,6.21
"Alpha, Oath of Zeal",3,4.05,12.15

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

TypeError: 'DataFrame' object is not callable