### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [102]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file)

In [103]:
data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [104]:
data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [105]:
data["SN"].count()

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [106]:
item = len(data["Item Name"].unique())
p_avg_price = data["Price"].mean()
purchases = len(data["Purchase ID"].unique())
rev = data["Price"].sum()

In [107]:
purchase_analysis = pd.DataFrame({"Unique Items": item,
                                 "Average Price": [p_avg_price], 
                                  "Number of Purchases": purchases,
                                 "Total Revenue": rev})
purchase_analysis.head()

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [108]:
g_count = data["Gender"].value_counts()

pcts = data["Gender"].value_counts(normalize=True)

g_demo = pd.DataFrame({"Gender": g_count,
                              "Percentag of Players": pcts})
g_demo

                       Gender  Percentag of Players
Male                      652              0.835897
Female                    113              0.144872
Other / Non-Disclosed      15              0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [109]:
g_analysis_df = data.groupby("Gender")["Purchase ID"].nunique() 
g_avg_price = data.groupby("Gender")["Price"].mean()
g_total = data.groupby("Gender")["Price"].sum()
g_analysis = pd.DataFrame({"Purchase Count": g_analysis_df, 
                         "Total Purchase Value": g_total,
                         "Average Purchase Per Person": g_avg_price})
g_analysis

,Purchase Count,Total Purchase Value,Average Purchase Per Person
Gender,,,
Female,113,361.94,3.203009
Male,652,1967.64,3.017853
Other / Non-Disclosed,15,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [110]:


bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
group_names = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

data["Age Summerary"] = pd.cut(data["Age"], bins, labels=group_names,right=False)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summerary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,NaN
2,2,Ithergue48,24,Male,92,Final Critic,4.88,25-29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,25-29
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [138]:
t_analysis_df = data.groupby("SN")["Purchase ID"].sum() 
t_avg_price = data.groupby("SN")["Price"].mean()
t_total = data.groupby("SN")["Price"].sum()
t_analysis = pd.DataFrame({"Purchase Count": t_analysis_df, 
                         "Total Purchase Value": t_total,
                         "Average Purchase price": t_avg_price})
t_analysis.head()

              Purchase Count  Total Purchase Value  Average Purchase price
SN
Adairialis76             467                  2.28                    2.28
Adastirin33              142                  4.48                    4.48
Aeda94                   388                  4.91                    4.91
Aela59                    28                  4.32                    4.32
Aelaria33                630                  1.79                    1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [140]:
p_analysis_df = data.groupby("Item Name")["Purchase ID"].sum()
p_avg_price = data.groupby("Item Name")["Price"].mean()
p_total = data.groupby("Item Name")["Price"].sum()
p_analysis = pd.DataFrame({"Purchase Count": p_analysis_df, 
                         "Total Purchase Value": p_total,
                         "Average Purchase price": p_avg_price})
p_analysis.head()

,Purchase Count,Total Purchase Value,Average Purchase price
Item Name,,,
Abyssal Shard,1140,13.35,2.67
"Aetherius, Boon of the Blessed",2037,16.95,3.39
Agatha,2305,18.48,3.08
Alpha,2137,6.21,2.07
"Alpha, Oath of Zeal",1602,12.15,4.05

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80