### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file)

In [3]:
data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [5]:
data["SN"].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
item = data["Item Name"].nunique()
p_avg_price = data["Price"].mean()
purchases = len(data["Purchase ID"])
rev = data["Price"].sum()

In [9]:
purchase_analysis = pd.DataFrame({"Unique Items": item,
                                 "Average Price": [p_avg_price], 
                                  "Number of Purchases": purchases,
                                 "Total Revenue": rev})
purchase_analysis.head()

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
g_count = data["Gender"].value_counts()
pcts = data["Gender"].value_counts(normalize=True) * 100
g_demo = pd.DataFrame({"Gender": g_count,
                              "Percentag of Players": pcts})
g_demo

                       Gender  Percentag of Players
Male                      652             83.589744
Female                    113             14.487179
Other / Non-Disclosed      15              1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [160]:
g_purchase = data.groupby("Gender")["Purchase ID"].nunique() 
g_avg_price = data.groupby("Gender")["Price"].mean()
g_total = data.groupby("Gender")["Price"].sum()
g_purchase_price = data.groupby("Gender")["Price"].sum()
g_analysis = pd.DataFrame({"Purchase Count": g_purchase, 
                         "Average Purchase Price": g_avg_price,
                           "Total Purchase Value": g_total,
                         "Average Purchase Per Preson": g_purchase_price})
g_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per Preson
Gender,,,,
Female,113,3.203009,361.94,361.94
Male,652,3.017853,1967.64,1967.64
Other / Non-Disclosed,15,3.346000,50.19,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:


bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

data["Age Groups"] = pd.cut(data["Age"], bins, labels=group_names)

bined = data.groupby("Age Groups")["Age"]
bined_pcts = data["Age Groups"].value_counts(normalize=True) * 100
bined_demo = pd.DataFrame({"Total Count": bined,
                              "Percentag of Players": bined_pcts})
bined_demo

                                             Total Count  Percentag of Players
20-24  (>10, [7, 7, 8, 7, 8, 8, 8, 8, 8, 7, 7, 9, 7, ...             46.794872
15-19  (10-14, [11, 10, 10, 10, 12, 13, 13, 10, 10, 1...             17.435897
25-29  (15-19, [19, 19, 18, 19, 17, 15, 16, 19, 18, 1...             12.948718
30-34  (20-24, [20, 24, 24, 23, 22, 20, 22, 23, 23, 2...              9.358974
35-39  (25-29, [29, 27, 25, 25, 29, 25, 25, 26, 25, 2...              5.256410
10-14  (30-34, [30, 30, 30, 33, 32, 34, 30, 33, 34, 3...              3.589744
>10    (35-39, [36, 35, 35, 38, 37, 36, 37, 35, 35, 3...              2.948718
40+    (40+, [40, 40, 40, 40, 44, 41, 41, 40, 42, 40,...              1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [162]:
binned_purchase = data.groupby("Age Groups")["Purchase ID"].nunique() 
binned_avg_price = data.groupby("Age Groups")["Price"].mean()
binned_total = data.groupby("Age Groups")["Price"].sum()
binned_purchase_price = data.groupby("Age Groups")["Price"].sum()
binned_analysis = pd.DataFrame({"Purchase Count": binned_purchase, 
                         "Average Purchase Price": binned_avg_price,
                           "Total Purchase Value": binned_total,
                         "Average Purchase Per Preson": binned_purchase_price})
binned_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per Preson
Age Groups,,,,
>10,23,3.353478,77.13,77.13
10-14,28,2.956429,82.78,82.78
15-19,136,3.035956,412.89,412.89
20-24,365,3.052219,1114.06,1114.06
25-29,101,2.900990,293.00,293.00
30-34,73,2.931507,214.00,214.00
35-39,41,3.601707,147.67,147.67
40+,13,2.941538,38.24,38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [107]:
t_analysis_df = data.groupby("SN")["Purchase ID"].nunique() 
t_avg_price = data.groupby("SN")["Price"].mean()
t_total = data.groupby("SN")["Price"].sum()
t_analysis = pd.DataFrame({"Purchase Count": t_analysis_df, 
                         "Total Purchase Value": t_total,
                         "Average Purchase price": t_avg_price})
t_analysis.head()

              Purchase Count  Total Purchase Value  Average Purchase price
SN
Adairialis76               1                  2.28                    2.28
Adastirin33                1                  4.48                    4.48
Aeda94                     1                  4.91                    4.91
Aela59                     1                  4.32                    4.32
Aelaria33                  1                  1.79                    1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [112]:
popular_analysis_df = data.groupby("Item Name")["Purchase ID"].nunique()
popular_avg_price = data.groupby("Item Name")["Price"].mean()
popular_total = data.groupby("Item Name")["Price"].sum()
popular_analysis = pd.DataFrame({"Purchase Count": popular_analysis_df, 
                         "Average Purchase price": popular_avg_price,
                          "Total Purchase Value": popular_total})
popular_analysis.head()

,Purchase Count,Average Purchase price,Total Purchase Value
Item Name,,,
Abyssal Shard,5,2.67,13.35
"Aetherius, Boon of the Blessed",5,3.39,16.95
Agatha,6,3.08,18.48
Alpha,3,2.07,6.21
"Alpha, Oath of Zeal",3,4.05,12.15

In [140]:
indexed = popular_analysis.set_index('Purchase ID')
indexed.head()

KeyError: 'Purchase ID'

In [36]:
p_analysis.head()

,Purchase Count,Average Purchase price,Total Purchase Value
Item Name,,,
Abyssal Shard,5,2.67,13.35
"Aetherius, Boon of the Blessed",5,3.39,16.95
Agatha,6,3.08,18.48
Alpha,3,2.07,6.21
"Alpha, Oath of Zeal",3,4.05,12.15

In [38]:
p_sorted = p_analysis.sort_values("Purchase Count", ascending=False)
p_sorted.head()

,Purchase Count,Average Purchase price,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Persuasion,9,3.221111,28.99
Nirvana,9,4.900000,44.10
"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [40]:
most_profitable = p_analysis_df.sort_values("Total Purchase Value", ascending=False)
most_profitable.head()

,Purchase Count,Average Purchase price,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Nirvana,9,4.900000,44.10
Fiery Glass Crusader,9,4.580000,41.22
Singed Scalpel,8,4.350000,34.80